@import '../../../styles/mixins';

input {
  @include placeholder {
    color: white;
  }
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 24px;
  &:focus {
    background-color: transparent;
    color: white;
    outline: 0;
    border: 0;
  }
}

fa[name="search"] {
  font-size: 18px;
  border: 3px solid white;
  border-radius: 50%;
  margin-top: 6px;
  margin-left: 13px;
  transform: rotate(90deg);
  padding: 5px;
  display: grid;
}