<div class="row mt-4">
    <div class="col">
        <p><b>Dmitry Hershkovitz</b> | Web Developer</p>
        <p>Source code of my Microsoft challenge
            <a href="https://github.com/tgcaspa/microsoft-challenge">@Github</a>
        </p>

        <hr>

        <p class="mt-5">Find me in</p>
        <ul class="row nav text-center">
            <li class="col-3 nav-item">
                <a href="mailto:cmplerec@gmail.com">
                    <fa name="google" size="4x" class="color-google"></fa>
                </a>
            </li>
            <li class="col-3 nav-item">
                <a href="https://github.com/tgcaspa">
                    <fa name="github" size="4x" class="color-github"></fa>
                </a>
            </li>
            <li class="col-3 nav-item">
                <a href="https://www.facebook.com/dmitri.gershkovich">
                    <fa name="facebook-square" size="4x" class="color-facebook"></fa>
                </a>
            </li>
            <li class="col-3 nav-item">
                <a href="https://www.linkedin.com/in/dmitri-hershkovitz-0b3b75a3/">
                    <fa name="linkedin-square" size="4x" class="color-linkedin"></fa>
                </a>
            </li>
        </ul>
    </div>
</div>