@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'mixins';

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

button,
.cursor-pointer {
  cursor: pointer !important;
}
.rounded{
  border-radius: 50% !important;
}
table {
  &.table-inverse {
    background-color: black;
  }
  td {
    padding-top: 0 !important;
    border-top: none !important;
    vertical-align: bottom !important;
  }
}
.hidden {
  display: none !important;
}

h5 { font-size: 1.3em; }