<div class="row">
    <div class="col p-0 fixed-bottom main-navbar-wrap p-3">
        <ul class="row nav text-center">
            <li class="col-4 nav-item">
                <button class="btn btn-back rounded"
                        routerLink="/my-contacts"
                        routerLinkActive="hidden">
                    <fa name="arrow-left"></fa>
                </button>
            </li>
            <li class="col-4">
                <img width="40"
                     class="cursor-pointer"
                     src="assets/images/microsoft_PNG6.png"
                     routerLink="/about">
            </li>
            <li class="col-4">
                <button class="btn btn-add-contact rounded"
                        routerLink="/add-contact"
                        routerLinkActive="hidden">
                    <fa name="plus"></fa>
                </button>
            </li>
        </ul>
    </div>
</div>